[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".on-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .on-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".on-my-zsh/custom/plugins/git-open"]
	path = .on-my-zsh/custom/plugins/git-open
	url = https://github.com/paulirish/git-open.git
[submodule ".on-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .on-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
