configuration{
    modi: "run,drun,window";
    lines: 5;
	font: "Liga SFMono Nerd Font 25";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  window";
    sidebar-mode: true;
}

@theme "catppuccin-frappe"

